[[inputs.snmp.table]]
  name = "rttMIB"
  [[inputs.snmp.table.field]]
    name = "adminTag"
    oid = ".1.3.6.1.4.1.9.9.42.1.2.1.1.3"
    is_tag = true
  [[inputs.snmp.table.field]]
    name = "destination"
    oid = ".1.3.6.1.4.1.9.9.42.1.2.2.1.2"
    is_tag = true
    conversion = "ipaddr"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperNumOfRTT"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.1"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperRTTSum"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.2"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperRTTMin"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.4"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperRTTMax"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.5"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperPacketLossSD"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.26"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperPacketLossDS"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.27"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperPacketOutOfSequence"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.28"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperPacketMIA"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.29"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperPacketLateArrival"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.30"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperOWMinSD"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.35"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperOWMaxSD"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.36"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperOWMinDS"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.39"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperOWMaxDS"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.40"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperMOS"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.42"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperAvgJitter"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.46"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperAvgSDJ"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.47"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperAvgDSJ"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.48"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperOWAvgSD"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.49"
  [[inputs.snmp.table.field]]
    name = "rttMonLatestJitterOperOWAvgDS"
    oid = ".1.3.6.1.4.1.9.9.42.1.5.2.1.50"
